/SportsMonitor/SportsMonitor/Client/bin/
/SportsMonitor/.vs/
/SportsMonitor/SportsMonitor/Client/obj/
/SportsMonitor/SportsMonitor/Server/bin/
/SportsMonitor/SportsMonitor/Server/obj/
/SportsMonitor/SportsMonitor/Shared/obj/
/SportsMonitor/SportsMonitor/Shared/bin/
/SportsMonitor/SportsMonitor/Shared/bin/
/SportsMonitor/SportsMonitor/Shared/bin/*
