/SportsMonitor/SportsMonitor/Client/bin/
/SportsMonitor/.vs/
/SportsMonitor/SportsMonitor/Client/obj/
/SportsMonitor/SportsMonitor/Server/bin/
/SportsMonitor/SportsMonitor/Server/obj/
/SportsMonitor/SportsMonitor/Shared/obj/
/SportsMonitor/SportsMonitor/Shared/bin/
/SportsMonitor/SportsMonitor/Shared/bin/
/SportsMonitor/SportsMonitor/Shared/bin/*
/SportsMonitor/SportsMonitor_Version1/.vs/*
/SportsMonitor/SportsMonitor_Version1/SportsMonitor_Version1/Client/bin/*
/SportsMonitor/SportsMonitor_Version1/SportsMonitor_Version1/Client/obj/*
/SportsMonitor/SportsMonitor_Version1/SportsMonitor_Version1/Server/bin/*
/SportsMonitor/SportsMonitor_Version1/SportsMonitor_Version1/Server/obj/
/SportsMonitor/SportsMonitor/Shared/bin/
/SportsMonitor/SportsMonitor/Shared/bin/
/SportsMonitor/SportsMonitor/Shared/bin/Debug/
/SportsMonitor/SportsMonitor/Shared/bin/
/SportsMonitor/SportsMonitor_Version1/SportsMonitor_Version1/Client/SportsMonitor_Version1.Client.csproj.user
/SportsMonitor/SportsMonitor_Version1/SportsMonitor_Version1/Server/SportsMonitor_Version1.Server.csproj.user
