/SportsMonitor/SportsMonitor/Client/bin/
/SportsMonitor/.vs/
/SportsMonitor/SportsMonitor/Client/obj/
/SportsMonitor/SportsMonitor/Server/bin/
/SportsMonitor/SportsMonitor/Server/obj/
/SportsMonitor/SportsMonitor/Shared/obj/
/SportsMonitor/SportsMonitor/Shared/bin/
/SportsMonitor/SportsMonitor/Shared/bin/
/SportsMonitor/SportsMonitor/Shared/bin/*
/SportsMonitor/SportsMonitor_Version1/.vs/*
/SportsMonitor/SportsMonitor_Version1/SportsMonitor_Version1/Client/bin/*
/SportsMonitor/SportsMonitor_Version1/SportsMonitor_Version1/Client/obj/*
/SportsMonitor/SportsMonitor_Version1/SportsMonitor_Version1/Server/bin/*
/SportsMonitor/SportsMonitor_Version1/SportsMonitor_Version1/Server/obj/
/SportsMonitor/SportsMonitor/Shared/bin/
/SportsMonitor/SportsMonitor/Shared/bin/
/SportsMonitor/SportsMonitor/Shared/bin/Debug/
/SportsMonitor/SportsMonitor/Shared/bin/
/SportsMonitor/SportsMonitor_Version1/SportsMonitor_Version1/Client/SportsMonitor_Version1.Client.csproj.user
/SportsMonitor/SportsMonitor_Version1/SportsMonitor_Version1/Server/SportsMonitor_Version1.Server.csproj.user
/SportsMonitor/SportsMonitor_Version2/SportsMonitor_Version2/Client/bin/
/SportsMonitor/SportsMonitor_Version2/SportsMonitor_Version2/Client/obj/
/SportsMonitor/SportsMonitor_Version2/SportsMonitor_Version2/Server/obj/
/SportsMonitor/SportsMonitor_Version2/SportsMonitor_Version2/Server/bin/
/SportsMonitor/SportsMonitor_Version2/SportsMonitor_Version2/Shared/obj/
/SportsMonitor/SportsMonitor_Version2/.vs/
/SportsMonitor/SportsMonitor_Version2/SportsMonitor_Version2/Shared/bin/
/SportsMonitor/SportsMonitor/Shared/bin/
/SportsMonitor/SportsMonitor_Version2/SportsMonitor_Version2/Server/SportsMonitor_Version2.Server.csproj.user
/SportsMonitor/SportsMonitor_Version2/SportsMonitor_Version2/Client/SportsMonitor_Version2.Client.csproj.user
/SportsMonitor/SportsMonitor_Version3/SportsMonitor_Version3/Client/bin/
/SportsMonitor/SportsMonitor_Version3/SportsMonitor_Version3/Client/obj/
/SportsMonitor/SportsMonitor_Version3/SportsMonitor_Version3/Server/bin/
/SportsMonitor/SportsMonitor_Version3/SportsMonitor_Version3/Server/obj/
/SportsMonitor/SportsMonitor_Version3/.vs/
/SportsMonitor/SportsMonitor_Version3/SportsMonitor_Version3/Server/SportsMonitor_Version3.Server.csproj.user
/SportsMonitor/SportsMonitor_Version3/SportsMonitor_Version3/Client/SportsMonitor_Version3.Client.csproj.user
/SportsMonitor/SportsMonitor_Version4/SportsMonitor_Version4/Client/bin/
/SportsMonitor/SportsMonitor_Version4/SportsMonitor_Version4/Client/obj/
/SportsMonitor/SportsMonitor_Version4/SportsMonitor_Version4/Server/obj/
/SportsMonitor/SportsMonitor_Version4/SportsMonitor_Version4/Server/bin/
/SportsMonitor/SportsMonitor_Version4/.vs/
/SportsMonitor/SportsMonitor/Shared/bin/
/SportsMonitor/SportsMonitor_Version5/.vs/
/SportsMonitor/SportsMonitor_Version5/SportsMonitor_Version5/Client/bin/
/SportsMonitor/SportsMonitor_Version5/SportsMonitor_Version5/Client/obj/
/SportsMonitor/SportsMonitor_Version5/SportsMonitor_Version5/Server/bin/
/SportsMonitor/SportsMonitor_Version5/SportsMonitor_Version5/Server/obj/
/SportsMonitor/SportsMonitor_Version5/SportsMonitor_Version5/Shared/obj/
/SportsMonitor/SportsMonitor_Version5/SportsMonitor_Version5/Shared/bin/
/SportsMonitor/SportsMonitor/Shared/bin/Debug/
