@page "/"

<PageTitle>Index</PageTitle>
@code {
    private string _selectedTeam;
}


<div>Active team: @_selectedTeam</div>
<EventTracker OnTeamSelected="x => _selectedTeam = x" Title="NBA Conference Finals" Team1="Los Angeles Lakers" Team2="Denver Nuggets" Score1="111" Score2="113"></EventTracker>

