<h3>@Title - v4</h3>

@code {
    private int _predictions1;
    private int _predictions2;

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Team1 { get; set; }

    [Parameter]
    public string? Team2 { get; set; }

    [Parameter]
    public int Score1 { get; set; }

    [Parameter]
    public int Score2 { get; set; }

    [Parameter]
    public EventCallback<string> OnTeamSelected { get; set; }

    private async Task IncreasePrediction1()
    {
        await Task.Delay(5000);
        _predictions1++;
    }

    private async Task IncreasePrediction2()
    {
        await Task.Delay(5000);
        _predictions2++;
    }
}

<div>
    <span @onclick="() => OnTeamSelected.InvokeAsync(Team1)">@Team1 </span> @Score1
    <span @onclick="IncreasePrediction1">@_predictions1</span>
</div>

<div>
    <span @onclick="() => OnTeamSelected.InvokeAsync(Team2)">@Team2</span> @Score2
    <span @onclick="IncreasePrediction2">@_predictions2</span>
</div>