@using SportsMonitor_Version7.Client.EventArgs;

@inherits EventTrackerBase

<h3>@Model?.Name</h3>

@Model?.Date?.ToShortDateString()

@if (Model?.Participants?.Any() == true)
{
    foreach (var participant in Model.Participants)
    {
        <div>
            <span @onclick="() => OnParticipantSelected.InvokeAsync(participant)">
                @participant.Name
            </span>
            <span @onclick="() => IncreaseScore(participant)">
                @participant.Score
            </span>
            <span @onclick="() => IncreaseVotes(participant)">
                @participant.WinningVotes
            </span>
        </div>
    }
}



